html, body {
  width: 150px;
    height: 400px;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.settings:hover {
  background-color: #CFF2F2;
}
.redmine:hover {
    background-color: #dc836e;
}

.redmine {
    background-color: #dc999f;
}

.settings {
 background-color: #E5F2F2;
}

.clear {
 background-color: #FBFBC9;
}

.clear:hover {
 background-color: #EAEAC9;
}