html, body {
  width: 150px;
    height: 400px;
}

.button {
    width: 100px;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.settings:hover {
  background-color: #CFF2F2;
}
.redmine:hover {
    background-color: #dc836e;
}
.tasks:hover {
    background-color: #CFF2F2;
}

.redmine {
    background-color: #dc999f;
}
.settings {
 background-color: #E5F2F2;
}
.tasks {
    background-color: #E5F2F2;
}
